
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container{
  
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    margin:10% auto;
  }

@media only screen and (max-width : 992px) {
  
  #index-banner .section {
    top: 5%;
  }
  .parallax-container .section {
    width: 100%;
    margin: 20% auto;
}
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
